<h2>Credo</h2>

Credo is a style checker for Elixir.

<ol class="steps">
  <li>
    <%= button("Sign in with GitHub", to: auth_path(@conn, :login)) %>
  </li>
  <li>
    Activate Credo for your GitHub repositories.
  </li>
  <li>
    When pull requests are created or modified Credo will review your code and
    add comments to it.
  </li>
  <li>
    Check the comments and fix your code accordingly.
  </li>
</ol>
