<link rel="stylesheet" href="/css/app.css">

<h2>Public Repositories</h2>
<div class="repos section">

  <%= for repo <- public_repos do %>
    <div class="repo-info">
      <form action="repos/<%= repo.id %>/<%= CredoServer.Repository.toggle_action_rul(repo) %>" class="add-remove-hook-form" method="post">
        <button class="repo-btn <%= repo.status%>">On/Off</button>
      </form>
      <a href="<%= repo.html_url %>"><%= repo.full_name %></a>
    </div>
  <% end %>

</div>
