<ol class="steps">
  <li>
    <form action="auth/oauth/login" method="post">
      <input type="submit" value="Sign in with Github">
    </form>
  </li>
  <li>
    Activate CredoCI for your GitHub repositories.
  </li>
  <li>
    When pull requests are created or modified CredoCI will review your code and
    add comments to it.
  </li>
  <li>
    Check the comments and fix your code accordingly.
  </li>
</ol>
