<h2>Public Repositories</h2>
<div class="repos section">

  <%= for repo <- @public_repos do %>
    <div>
      <%= button("On/Off", to: repository_repository_path(@conn, :on, repo), form: [class: "toggle"], class: "toggle " <> repo.status) %>
      <%= link(repo.full_name, to: repo.html_url, target: "_blank") %>
    </div>
  <% end %>

</div>
